<div class="container-fluid">
	<div class="row">
	
		<div class="col-md-2 col-sm-12 bg-light">
		  <div class="container-fluid bg-info form-title">
            <div class="row">
	          <div class="col-12">
                <h4>Shelf units:</h4>
	          </div>
            </div>
          </div>
		  <div class="container-fluid" style="margin-top: 15px;">
		    <div class="row">
		      <button class="col-6" type="button" {{action "addUnit" song}}>Add</button>
		      <button class="col-6" type="button" {{action "removeUnit" song}}>Remove</button>
              <select class="col-12" size=5 required name="shelfUnits" onchange={{action "setSelection" value="target.value"}} value={{currentUnit}}>
                {{#each model.shelfUnits as |shelfUnit|}}     
                  <option value={{shelfUnit.tempid}}>Unit {{shelfUnit.tempid}}</option>      
                {{/each}} 
              </select>
		    </div>
		  </div>
		  {{input type="checkbox" checked=showsvgout}}Show Debug output
		</div>
		
		<div class="col-md-8 col-sm-12 bg-pale" style="overflow: hidden; height:600px;">
		  <div class="container-fluid" id = "svgView">
			  <div class="aligned-row">
			    <div class="col-2 svglabel-holder">
			      <p class="svglabel-left">{{heightRange}}</p>
			    </div>
				<div class="col-10">
			      {{{svg}}}
			    </div>
				<div class="col-9 offset-md-2_5">
			      <p class="svglabel-bottom">{{widthRange}}</p>
				</div>
			  </div>
		  </div>
		  <div class="utilbar">
			{{#bs-button type="warning" onClick=(action "resetViewer")}}Reset{{/bs-button}}
		  </div>
		</div>
		
		<div class="col-md-2 col-sm-12 bg-light">
		  {{#each model.shelfUnits as |shelfUnit|}}
		    {{unit-fields model=shelfUnit}}
		  {{/each}}
		</div>
		
		<div class="col-md-12 bg-debug {{hidesvgout}}">
		    {{svg}}
		</div>
		
	</div>
</div>